<% include ../public/header.html %>
<link rel="stylesheet" type="text/css" href="/stylesheets/prelogin.css" media="screen">
<!-- Page Level Script -->
<script type="text/javascript" src="/javascript/vendor/requirejs/require.js"
        data-main="/javascript/registerMain.js"></script>
</head>
<body>
<!-- BEGIN CONTAINER -->

<div class="container-fluid prelogin-pannel register prelogin-content" view-root>
    <form id="form-register" class="form-register" role="form" novalidate >

        <div class="prelogin-logo" data-i18n="prelogin.title.register"></div>
        <div class="control-group">
            <input id="email" autocapitalize="off" autocomplete="off"
                   class="form-control accountInput"  data-i18n="[placeholder]prelogin.common.email" type="email" name="email" required autofocus>
            <div class="error-promote">
            <label for="email" class="error"></label>
                </div>
            </div>
        <div class="control-group">
            <input id="username" autocapitalize="off" autocomplete="off"
                   class="form-control accountInput"  data-i18n="[placeholder]prelogin.common.username" minlength="6" type="text" required
                  name="username" >

            <div class="error-promote">
                <label for="username" class="error"></label>
            </div>
        </div>
        <div class="control-group">
            <input id="password" autocapitalize="off" autocomplete="off" type="password" minlength="8"
                   name="password"
                   class="form-control"  required data-i18n="[placeholder]prelogin.common.password">

            <div class="error-promote">
                <label for="password" class="error"></label>
            </div>
        </div>
        <div class="control-group">
            <input id="rpassword" autocapitalize="off" autocomplete="off" type="password" minlength="8"
                   name="rpassword"
                   class="form-control"  required data-i18n="[placeholder]prelogin.common.confirm-password"> 

            <div class="error-promote">
                <label for="rpassword" class="error"></label>
            </div>
        </div>
        
            <div class="control-group">
                <input id="orgname" name="orgname" autocapitalize="off" autocomplete="off"
                       class="form-control accountInput" data-i18n="[placeholder]prelogin.common.orgnization-name"  minlength="6" type="text" required
                       >

                <div class="error-promote">
                    <label for="orgname" class="error"></label>
                </div>
            </div>
            <div class="control-group">
                <input id="phonenum" autocapitalize="off" autocomplete="off"
                       class="form-control accountInput" data-i18n="[placeholder]prelogin.common.phone-number(optional)" type="text" name="phonenum">

                <div class="error-promote">
                    <label for="phonenum" class="error"></label>
                </div>
            </div>
            
            
        <div class="prelogin-captcha control-group" style="display: none;">
            <div class="default-text" data-i18n="prelogin.tips.loading-captcha"></div>
            <div class="captcha-warpper">
                <input id="captcha" autocapitalize="off" autocomplete="off"
                   class="form-control" data-i18n="[placeholder]prelogin.common.captcha" type="text" name="captcha" required maxlength="6" minlength="6">
                <img id="captcha_img" class="captcha_img"  alt="">
            </div>
            <div class="error-promote">
                <label for="captcha" class="error"></label>
            </div>
        </div>

        <div class="control-group">
            <button id="registerBtn" class="prelogin-submit-btn" type="submit" >
                <span class="text" data-i18n="prelogin.tag.register"></span>
                <div class="circle"></div>
            </button>
        </div>

        <div class="control-group agree" data-i18n="[html]prelogin.tips.register"></div>
        <div class="or-line"></div>
        <div class="control-group prelogin-tip prelogin-tip-register">
            <span data-i18n="prelogin.tips.have-account"></span>
            <a class="link" href="/login" data-i18n="prelogin.tag.signin"></a>
        </div>
    </form>
</div>
<!-- END CONTAINER -->
<% include ../public/footer.html %>