<% include ../public/header.html %>
<link rel="stylesheet" type="text/css" href="/stylesheets/prelogin.css" media="screen">
<!-- Page Level Script -->
<script type="text/javascript" src="/javascript/vendor/requirejs/require.js"
        data-main="/javascript/verifyMain.js"></script>
</head>
<body>
<!-- BEGIN CONTAINER -->

<div id="verify"  class="container-fluid prelogin-pannel login prelogin-content" view-root>

    <form method="post" id="pass" class="hide">
      <i class="icon-success"></i>
        <h1 class="prelogin-title" data-i18n="common.success.default"></h1>

        <div class="control-group prelogin-tip prelogin-tip-login">
            <p>
              <span data-i18n="prelogin.verifyemail.verify-success"></span>
              <span id="auto_jump">3</span><span data-i18n="prelogin.verifyemail.jump"></span>
            </p>
        </div>
    </form>
    <form action="" id="fail" class="hide" role="form" novalidate>
      <i class="icon-fail"></i>
        <h1 class="prelogin-title" data-i18n="common.fail.default"></h1>

        <div class="control-group prelogin-tip prelogin-tip-login">
            <!-- <p data-i18n="prelogin.verifyemail.verify-fail"></p> -->
            <p>验证失败，请点击重发按钮重新发送邮箱验证邮件！</p>
        </div>
        <div class="control-group">
            <input id="email" autocapitalize="off" autocomplete="off"
                   class="form-control accountInput"  data-i18n="[placeholder]prelogin.common.email" type="email" name="email" required autofocus>
            <div class="error-promote">
                <label for="email" class="error"></label>
            </div>
        </div>
        <div class="control-group">
            <button id="resend" class="prelogin-submit-btn"  type="submit">
                <span class="text" data-i18n="prelogin.sendemail.resend"></span>
                <div class="circle"></div>
            </button>
        </div>
    </form>
    
    
</div>
<!-- END CONTAINER -->
<% include ../public/footer.html %>