/.idea/
/src/stylesheets/
/src/stylesheets/*.css
/src/javascript/lib/
/public/
/public2/
/src/semanticui/examples/
/src/semanticui/tasks/
/src/semanticui/test/
/src/semanticui/node_modules/
.sass-cache
*.DS_Store
workspace.xml
.tmp
node_modules/

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache
*.ruby-version

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
.docpad.db
*.esproj
nbproject
*.sublime-project
*.sublime-workspace


*.iml