/* SIDEBAR */
.sidebar-region {
  width: $sidebar-width;
  background-color: $sidebar-background-color;
}

.main-content {
  width: 100%;
  color: #333333;
  font-size: 18px;
  word-wrap: break-word;
  height: 100%;
  margin: 0;
  padding-left: $sidebar-width;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.navbar {
  margin-bottom: 0;
}



