<!-- BEGIN FOOTER -->
<div id="app-dialog-wrapper" class="ui dimmer modals page">
    <!--<div class="ui loader"></div>-->
    <div  id="app-dialog" class="ui modal">
        <i class="close icon"></i>
        <div class="header"></div>
        <div class="actions">
            <div class="ui button negative">Cancel</div>
            <div class="ui primary button positive">Apply</div>
        </div>
    </div>
</div>
<div class="side-contact-article-en">
    <div id="side-contact-article">
        <h3>Send us a message</h3><a class="close icomoon-cancel" href="javascript:void(0);"></a>
        <form class="contact-form">
            <div class="field email">
                <input type="text" name="from" autocapitalize="off" placeholder="Your Email Address" />
            </div>
            <div class="field message">
                <textarea name="text" cols="30" rows="10" placeholder="Message (Required)"></textarea>
            </div>
        </form>
        <a href="javascript:void(0);" class="action_button send-msg-btn">Send</a>
        <i class="icomoon-down-dir side-contact-tail"></i>
    </div>
    <a href="javascript:void(0)" id="side-contact-btn" class="icomoon-message">
    </a>
</div>
<div class="side-contact-article-zh">
    <div id="side-contact-article">
        <h3>信息反馈</h3><a class="close icomoon-cancel" href="javascript:void(0);"></a>
        <form class="contact-form">
            <div class="field email">
                <input type="text" name="from" autocapitalize="off" placeholder="您的邮件地址" />
            </div>
            <div class="field message">
                <textarea name="text" cols="30" rows="10" placeholder="反馈信息（必填）"></textarea>
            </div>
        </form>
        <a href="javascript:void(0);" class="action_button send-msg-btn">发送</a>
        <i class="icomoon-down-dir side-contact-tail"></i>
    </div>
    <a href="javascript:void(0)" id="side-contact-btn" class="icomoon-message">
    </a>
</div>

<div id="app-dimmer"></div>
<!-- END FOOTER -->
<% include ../components/page-loader.html %>
</body>
</html>